[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
virtualenv = "*"
robotframework-seleniumlibrary = "*"
webdrivermanager = "*"
robotframework-selenium2library = "*"

[dev-packages]

[requires]
python_version = "3.8"
